* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Georgia";
}

@font-face {
	font-family: "Novecentos";
	src: url("fonts/Novecentos_bold.otf");
	font-weight: bold;
}
@font-face {
	font-family: "Futura";
	src: url("fonts/Futura.otf");
}
@font-face {
	font-family: "Georgia";
	src: url("fonts/Georgia.ttf");
}
@font-face {
	font-family: "Sanchez";
	src: url("fonts/Sanchez-Regular.otf");
}
@font-face {
	font-family: "Sanchez";
	src: url("fonts/Sanchez-italic.otf");
	font-style: italic;
}

p, h3:not(.archives):not(.resources):not(.select) {
	width: 750px;
}
h3 {
	font-family: "Futura";
	font-weight: normal;
	font-size: 36px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 54.4px;
}
p {
	font-size: 18px;
    padding: 8px 0;
    line-height: 1.5;
}
p:nth-of-type(1) {
    padding-top: 0;
}
.summary p {
	font-family: "Sanchez";
	font-size: 16px;
	padding-top: 8px;
	font-style: italic;
}
.summary a {
	color: #e33a25;
}
.summary p:nth-of-type(2) {
	font-style: normal;
}
ul {
	list-style-type: none;
}

.intro header {
	min-height: 100vh;
	background-color: rgb(53, 132, 192);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	background: radial-gradient(ellipse at center, rgba(65,170,240,1) 0%, rgba(65,170,240,1) 28%, rgba(43,135,201,1) 100%);
}

@keyframes fadeup {
  0% {
	opacity: 0;
  }
  75% {
	opacity: 0;
    transform:  translate(0px, 100px);
  }
  100% {
    opacity: 1;
	transform:  translate(0px, 0px);
  }
}

.intro header > * {
	color: white;
	opacity: 0;
	animation: fadein 0.8s forwards;
}
.intro header h1 {
	font-size: 48px;
	font-family: Novecentos;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.intro header h2 abbr {
	font-family: Novecentos;
}

.intro header h2 {
	background-color: black;
	padding: 5px 20px 8px 20px;
	font-family: Novecentos;
	line-height: 1;
}
.intro header::after {
	position: absolute;
	content: '';
	width: 64px;
	height: 64px;
	background-image: url('scollicon2.svg');
	background-size: cover;
	bottom: 0;
	animation: fadeup 2s forwards;

}
.summary {
	padding: 16px 200px;
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.preamble, .main > div, .sidebar {
	padding: 50px 200px;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.preamble {
	background-color: #9A2617;
	color: white;
}
.page-wrapper {
	display: flex;
    flex-direction: column;
}
.intro {
	order: 1;
}
.sidebar {
	order: 2;
}
.sidebar .wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.main {
	order: 3;
}
