* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Novecentos";
	src: url("Novecentos_bold.otf");
	font-weight: bold;
}

p {
	width: 600px;
}

.intro header {
	min-height: 100vh;
	background-color: rgb(53, 132, 192);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	background: radial-gradient(ellipse at center, rgba(65,170,240,1) 0%, rgba(65,170,240,1) 28%, rgba(43,135,201,1) 100%);
}
.intro header::after {
	position: absolute;
	content: '';
	width: 64px;
	height: 64px;
	background-image: url('scollicon2.svg');
	background-size: cover;
	bottom: 0;
	animation: fadeup 2s forwards;

}

@keyframes fadeup {
  0% {
	opacity: 0;
  }
  75% {
	opacity: 0;
    transform:  translate(0px, 100px);
  }
  100% {
    opacity: 1;
	transform:  translate(0px, 0px);
  }
}

.intro header * {
	color: white;
	opacity: 0;
	animation: fadein 0.5s forwards;
}
.intro header h1 {
	font-size: 48px;
	font-family: Novecentos;
	opacity: 0;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.intro header h2 abbr {
	font-family: Novecentos;
}

.intro header h2 {
	background-color: black;
	padding: 5px 20px 8px 20px;
	font-family: Novecentos;
	line-height: 1;
}
.summary {
	padding: 16px 200px;
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.summary p {
	display: inline-block;
}
.page-wrapper {
	display: flex;
    flex-direction: column;
}
.intro {
	order: 1;
}
.sidebar {
	order: 2;
}
.main {
	order: 3;
}
